.appgrid{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
}

.tableContainer{
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
    width: 80vw;
    max-width: 80vw;
    height: 66.6667vh;
    max-height: 66.6667vh;
}

.fullScreenElement{
    grid-row-start: 2;
    grid-column-start: 2;
    width: 80vw;
    max-width: 80vw;
    height: 66.6667vh;
    max-height: 66.6667vh;
}
p{
    color: white;
}

ion-button{
    grid-row-start: 2;
    grid-column-start: 1;
    --border-radius: 50%;
    --background: rgb(23 23 23);
    width: 8vh;
    height: 5vh;
    margin-left: 5vh;
}

