.appgrid{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    grid-auto-columns: auto;
}

.tableContainer{
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
    width: 80vw;
    max-width: 80vw;
    height: 66.6667vh;
    max-height: 66.6667vh;
}

.periodContainer{
    display: flex;
    height: 7.4074vh;
    max-height: 7.4074vh;
}

.fillerDiv{
    transition: 0.75s ease-in-out;
    width: 4.444444vw;
    max-width: 4.444444vw;
    height: 7.4074vh;
    max-height: 7.4074vh;
    flex: 1;
}

.elements{
    transition: 0.75s ease-in-out;
    width: 4.444444vw;
    height: 7.4074vh;
    max-height: 7.4074vh;
    flex: 1;
}

.elements:hover{
    flex-grow: 5;
}


